/* material-icons handled in layout.tsx */

/* == 파레트 (전역 변수 설정) == */
:root {
  /* 1.컬러 */
  /* 1-1. 메인 컬러 */
  --컬러-메인: #0288D1;
  --컬러-메인_밝은: #E0F7FA;
  --컬러-메인_어두운: #01579B;
  --컬러-보조: #00C853;

  /* 1-2. 기본 색상 (요청하신 부분) */
  --컬러-색-흰색: #ffffff;
  --컬러-색-검은색: #000000;
  --컬러-색-파란색: #0000FF;
  /* 표준 파란색 */

  /* 2.텍스트 */
  --텍스트-컬러-메인: #263238;
  --텍스트-컬러-보조: #546E7A;
  --텍스트-크기-본문: 16px;

  /* 3.배경 */
  --배경-컬러-밝은: #F9FAFB;

  /* 4.보더 */
  --보더-둥글기: 12px;

  /* 5.그림자 */
  --그림자-작게: 0 2px 8px rgba(0, 0, 0, 0.05);
  --그림자-중간: 0 8px 24px rgba(2, 136, 209, 0.15);
}

* {
  /* 1.박스모델 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1.박스모델 */
  scroll-behavior: smooth;
}

body {
  /* 1.박스모델 */
  background-color: var(--컬러-색-흰색);

  /* 2.레이아웃 */
  overflow-x: hidden;

  /* 3.디자인/폰트/애니메이션 */
  color: var(--텍스트-컬러-메인);
  font-size: var(--텍스트-크기-본문);
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: inherit;
}
